# Core dependencies
torch>=2.1.1
torchvision>=0.16.1
torchaudio>=2.1.1
numpy>=1.24.0
datasets==2.18.0
einops==0.7.0
lightning==2.2.1
transformers==4.38.2
timm==0.9.16
scikit-learn==1.4.0
pandas==2.2.1

# Utilities
wandb==0.13.5
hydra-core==1.3.2
omegaconf==2.3.0
ipdb==0.13.13
rich==13.7.1
nvitop==1.3.2
notebook==7.1.1

# File handling & data processing
fsspec==2024.2.0
git-lfs==1.6
h5py==3.10.0

# Visualization
seaborn==0.13.2

# CUDA optimizations
triton==2.2.0